#featured_products, #new-product {
    text-align: center;
}

#featured_products .product, #new-product .product,
#new-product .product, #new-product .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;


}

#featured_products .product:hover,
#new-product .product:hover {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.product img {
    width: 100%;
    border-radius: 20px;
}

#featured_products .product .p-description,
#new-product .product .p-description {
    padding: 10px;
    text-align: start;
}

#featured_products .product .p-description span,
#new-product .product .p-description span {
    color: gray;
    font-size: 12px;
}

#featured_products .product .p-description h5,
#new-product .product .p-description h5 {
    font-size: 15px;
    padding-top: 10px;
}

#featured_products .product .p-description h4,
#new-product .product .p-description h4 {
    font-size: 15px;
    color: #97b664;
}

#featured_products .product .p-description .star,
#new-product .product .p-description .star {
    color: #E1A789;
    padding-top: 5px;
    padding-bottom: 10px;

}

#featured_products .product .cart,
#new-product .product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    bottom: 15px;
    padding-left: 10px;
    background-color: #89BFE1;
}

#featured_products .product .cart:hover,
#new-product .product .cart:hover {
    color: #FFA500;
    transform: scale(1.2);
    transition: 0.3s;
}

.product-container {
    display: flex;
    flex-wrap: wrap;

}
